<ion-view view-title="Pacientes">
    <ion-content ng-class="{expanded:isExpanded}" class="animate-fade-slide-in">
        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Maria Script</strong> está agendada.
                    <div class="card-footer text-right">
                        <i class="icon ion-social-buffer positive"></i> 1ª consulta
                        <div class="pull-left">
                            <i class="icon ion-calendar"></i> 20/03/2015 - 17:00
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/jon-snow.jpg');"></span>
                    <strong>Linux da Silva</strong> está agendado.
                    <div class="card-footer text-right">
                        <i class="icon ion-social-buffer positive"></i> Retorno
                        <div class="pull-left">
                            <i class="icon ion-calendar"></i> 20/11/2016 - 17:00
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="item card-item">
            <div ui-sref="app.gallery" class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <span class="avatar" style="background-image: url('img/sansa.jpg');"></span>
                    <strong>Adalto Prototipagem</strong> está agendado.
                    <div class="card-footer text-right">
                        <i class="icon ion-social-buffer positive"></i> Retorno
                        <div class="pull-left">
                            <i class="icon ion-calendar"></i> 20/03/2015 - 17:00
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </ion-content>
</ion-view>
