<ion-view view-title="Login" align-title="left">
    <ion-content style="background: radial-gradient(#3fb4f3, #0086cd);  background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1 class="logohealth"></h1>
            </div>
        </div>
        <div class="list">
          <h3>Insira o CPF do paciente a seguir:</h3>
            <ion-md-input placeholder="Ex: 000.000.000-00" highlight-color="balanced" type="text"></ion-md-input>
        </div>
        <div class="padding">
            <button ui-sref="app.homePaciente" class="button button-full button-assertive ink">Login</button>
        </div>
        <div class="button-bar social-login">
            <button ui-sref="app.homeVoluntario" class="button button-small button-border icon-left ion-android-hand button-positive-900">Voluntário</button>
        </div>
    </ion-content>
</ion-view>
